.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.idea
*.iws
*.iml
*.ipr
nbproject/private/
build/
nbbuild/
nbdist/
.nb-gradle/
.DS_Store
out/
log/
*.pid
content/
target/
*.config.js
deploy-*
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
npm-debug.log
/tests/e2e/videos/
/tests/e2e/screenshots/
.env.local
.env.*.local
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
package-lock.json
*/target/
/spring-cloud-api/target/
/spring-cloud-consumer/target/
/spring-cloud-product/target/
